<div class="container">
<%= form_with model: @dress, local: true do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name,required: true %>
	</div>
	<div>
		<%= f.label :color %>
		<%= f.text_field :color, required: true %>
	</div>
	<div>Available Sizes:
		<%= label_tag(:S) %>
		<%= check_box_tag "size[]", :S, @dress.new_record? ? false : @dress.size.include?("S")%>
		<%= label_tag(:M) %>
		<%= check_box_tag "size[]", :M,@dress.new_record? ? false : @dress.size.include?("M") %>
		<%= label_tag(:L) %>
		<%= check_box_tag "size[]", :L,@dress.new_record? ? false : @dress.size.include?("L") %>
		<%= label_tag(:XL) %>
		<%= check_box_tag "size[]", :XL,@dress.new_record? ? false : @dress.size.include?("XL") %>
	</div>
	<div>
		<%= f.label :price %>
		<%= f.number_field :price, required: true, step: :any %>
	</div>
	<div>
		<%= f.label :description %>
		<%= f.text_area :description, required: true, cols: 20 %>
	</div>
	<div>
		<%= f.label :dress_img %>
		<%= f.file_field :dress_img, required: @dress.new_record?%>
	</div>
	<div>
		<%= f.submit "Submit", class: "btn btn-primary" %>
		<%= link_to 'Back', :back, class: "btn btn-secondary" %>
	</div>
<% end %>
</div>