<div class="card-container">
	<div class="card-img">
		<% if dress.dress_img.attached? %>
  <%= image_tag(dress.dress_img) %>
  <% end %>
	</div>
	<div class="card-body">
		<div class="card-title">
			<h1><%= dress.name %></h1>
		</div>
		<div class="card-price">
			<p>Rs. <%= dress.price %></p>
		</div>
	</div>
	<div class="card-footer">
		<%= button_to "See More", dress,method: :get, class: "see-more-btn"%>
		<% if signed_in? %>
		<%= button_to "Edit",edit_dress_path(dress),method: :get, class:"edit-btn" %> 
		<%= button_to "Delete", dress_path(dress), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-btn" %>
  <% end %>
	</div>
</div>
