<%= form_with model: @dress, local: true, class: "dress-form" do |f| %>
	<div class="row">
		<div class="col-25">
			<%= f.label :name %>
		</div>
		<div class="col-75">
			<%= f.text_field :name,required: true %>
		</div>
		<div class="col-25">
			<%= f.label :color %>
		</div>
		<div class="col-75">
			<%= f.text_field :color, required: true %>
		</div>
		<div class="col-25">
					<%= f.label :price %>
		</div>
		<div class="col-75">
			<%= f.number_field :price, required: true, step: :any %>
		</div>
		<div class="col-25">
			<label for="size">Available Sizes:</label>
		</div>
		<div class="col-75">
			<%= label_tag(:S) %>
			<%= check_box_tag "size[]", :S, @dress.new_record? ? false : @dress.size.include?("S")%>
			<%= label_tag(:M) %>
			<%= check_box_tag "size[]", :M,@dress.new_record? ? false : @dress.size.include?("M") %>
			<%= label_tag(:L) %>
			<%= check_box_tag "size[]", :L,@dress.new_record? ? false : @dress.size.include?("L") %>
			<%= label_tag(:XL) %>
			<%= check_box_tag "size[]", :XL,@dress.new_record? ? false : @dress.size.include?("XL") %>
		</div>
		<div class="col-25">
			<%= f.label :description %>
		</div>
		<div class="col-75">
			<%= f.text_area :description, required: true, class: "product-description"%>
		</div>
		<div class="col-25">
			<%= f.label :dress_img %>
		</div>
		<div class="col-75">
			<%= f.file_field :dress_img, required: @dress.new_record?%>
		</div>
		<div class="row">
			<%= f.submit "Submit", class: "submit-btn" %>
			<%= button_to 'Back', :back, class: "back-btn" %>
		</div>
	</div>
<% end %>