<h1> All Available Dresses </h1>
<div class="product-container">
	<%@dresses.each do |dress| %>
		<div class="product-item">
			<div class="card" style="width: 18rem;">
		  <img class="card-img-top"  alt="Card image cap">
		  <div class="card-body">
		  <h5 class="card-title"><%= dress.name %></h5>
		  <p class="card-text">
		  	size:<%= dress.size %><br/>
		  	color: <%= dress.color %> 	
		  </p>
		  <%= link_to "See More", dress, class: "btn btn-primary" %>
		  <%= link_to "Edit", edit_dress_path(dress), class: "btn btn-secondary" %>
		  </div>
			</div>
		</div>
	<% end %>
</div>