<div class="show-container">
	<div class="left-column">
		<% if @dress.dress_img.attached? %>
			<%= image_tag(@dress.dress_img) %>
		<%end %>
	</div>
	<div class="right-column">
		<div class="product-title">
			<h2> <%= @dress.name %></h2>
		</div>
		<div class="product-description">
			<%= @dress.description %>
		</div>
		<div class="product-detail">
			<div class="product-size">
				<h4>Available Size</h4> <%= @dress.size[1..-2] %>
			</div>
			<div class="product-color">
				<h4>Color </h4> <%= @dress.color %> 
			</div>
			<div class="product-price">
				<h4>Price</h4> <%= @dress.price %>
			</div>
		</div>
		<%= button_to 'Back', root_path,method: :get, class: "back-btn" %>
	</div>
</div>