<div class="container">
<div class="display-product">
	<h3><%= @dress.name %></h3>
	<% if @dress.dress_img.attached? %>
<%= image_tag(@dress.dress_img) %>
<%end %>
	<p>
		Size: <%= @dress.size[1..-2] %> <br/>
		Color: <%= @dress.color %> <br/>
		Price: Rs. <%= @dress.price %> <br/>
		Description: <%= @dress.description %> <br/>
		<%= link_to 'Back', dresses_path, class: "btn btn-primary" %>
		<% if signed_in? %>
		<%= link_to "Edit", edit_dress_path(@dress), class: "btn btn-secondary" %>
		<%= link_to "Delete", dress_path(@dress), method: :delete,data: {confirm: "Are you sure"}, class: "btn btn-danger" %>
		<% end %>
	</p>
</div>
</div>