<!DOCTYPE html>
<html>
  <head>
    <title>Lugapasal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render partial: 'layouts/navbar' %>
    </header>
        <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.label :search %>
        <%= f.text_field :search , value: @searched_item%>
        <%= f.select :sort_by, options_for_select([["Sort_by",""],["Name","name"],["Price","price"]], @sort_by) %> 
        in  <%= f.select :order, options_for_select([["",""],["Low_to_high","asc"],["High_to_Low","desc"]],@order_by) %>
        <%= f.submit "Search" %>
      <% end %>
    <div class="fluid-container">

      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
